{% extends "base.html" %}
{% from "main/nav.html" import navbar %}

{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock meta %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('main.static', filename='package_builds/libs/bs.bundle.css')}}">
{% endblock %}

{% block navbar%}
  {% call navbar() %}
    {% if current_user.is_anonymous %}
    <a class="nav-link nav-item" href="{{url_for('login_out.login')}}">Login</a>
    {% else %}
    <a class="nav-link nav-item" href="{{url_for('login_out.logout')}}">Logout</a>
    {% endif %}
  {% endcall %}
{% endblock %}

{% block app_content %}
<br>
<div class="container">
  <div class="jumbotron shadow-sm">
    <h1 class="display-4">Hello World!</h1>
    <p class="lead">Starting content for index.html</p>
    <hr class="my-4">
    <p>Current user loged in is {{current_user.email}}</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('main.static', filename='package_builds/libs/libs.bundle.js')}}"></script>
{% endblock %}
