{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('main.static', filename='package_builds/libs/bs.bundle.css')}}">
{% endblock %}

{% block navbar%}
<div>test</div>
{% endblock %}

{% block app_content %}
  <div>Hello world!</div>
  <div>{{ current_user.email }}</div>
  <a class="btn btn-primary" href="{{ url_for('login_out.logout') }}">Logout</a>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('main.static', filename='package_builds/libs/libs.bundle.js')}}"></script>
{% endblock %}
