{% macro navbar(brand_name) %}
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="{{url_for('main.index')}}">{{ brand_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navAnchor" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navAnchor" class="collapse navbar-collapse">
      {{ caller() }}
    </div>
  </nav>
{% endmacro %}

{% macro nav(position) %}
  <div class="navbar-nav flex-grow-1 justify-content-{{position}}">
    {{ caller() }}
  </div>
{% endmacro %}
