{% macro navbar() %}
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="">Flask-Base</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navAnchor" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navAnchor" class="collapse navbar-collapse">
      <div class="navbar-nav">
        {{ caller() }}
      </div>
    </div>
  </nav>
{% endmacro %}
