[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
ipython = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-login = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "<1.3.0"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-wtf = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
