{% extends "main/index.html" %}
{% from "main/bs_forms.html" import render_boostrap_field %}

{% block app_content %}
<div class='container'>
  <div class='row mt-5 position-relative justify-content-center'>
    <form style="width: 20em" method='post' novalidate>
      {{ form.hidden_tag() }}
      {{ render_boostrap_field(form.email, placeholder="Enter Email") }}
      {{ render_boostrap_field(form.password, placeholder="Enter Password") }}
      <div class="d-flex flex-column align-items-center">
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        {% with messages = get_flashed_messages() %}
        {% if messages%}
        {% for message in messages %}
        <small class='p-2' style="color: red">{{ message }}</small>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function() {
      $('input').blur(function() {
        var value = $(this).val()
        var invalid = $(this).hasClass('is-invalid')
        if (value && !invalid) {
          $(this).addClass('is-valid')
        }
      })
    })
  </script>
{% endblock %}
