{% extends "main/index.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename="climbing/ropes-form/ropes-form.bundle.css")}}">
{% endblock styles %}

{% block app_content %}
  <br>
  <div id="react"></div>
  <script>
    {% if props %}
      window.props = {{props|tojson}}
    {% endif %}
    window.react_mount = document.getElementById("react")
  </script>
  <script src="{{url_for('static', filename='climbing/ropes-form/ropes-form.bundle.js')}}"></script>
{% endblock app_content %}
