{% extends "main/index.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('climbing.static', filename="package_builds/session-form/sessionForm.bundle.css")}}">
{% endblock styles %}

{% block app_content %}
  <br>
  <div id="react"></div>
  <script>
    window.props = {{props|tojson}}
    window.react_mount = document.getElementById("react")
  </script>
  <script src="{{url_for('climbing.static', filename='package_builds/session-form/sessionForm.bundle.js')}}"></script>
{% endblock app_content %}
